/* body {
  font-family: 'Poppins', sans-serif;
  background-color:#f9fafb;
  font-size: 100%;
}

@media (min-width: 1024px) {
  body {
    font-size: 80%;
  }
}
.mce-content-body::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

    .mce-content-body:focus {
      outline: none !important;
    }
    *:focus {
      outline: none !important;
    } */


    @layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  *:focus {
    @apply outline-none;
  }
}

.tox .tox-edit-area::before{
  border: none !important;
  border-radius:0 !important;
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
  -ms-border-radius:0 !important;
  -o-border-radius:0 !important;
}

.tox-editor-container{
  border: none !important;
  border-radius:0 !important;
  
}
.tox-tinymce {
    border:none !important;
    border-radius:none !important;
    -webkit-border-radius:none !important;
    -moz-border-radius:none !important;
    -ms-border-radius:none !important;
    -o-border-radius:none !important;
}